@font-face {
  font-family: 'Hellraiser';
  src: url('https://blckunicorn.art/assets/fonts/Hellraiser.ttf') format('truetype');
}

@font-face {
  font-family: 'Triest';
  src: url('https://blckunicorn.art/assets/fonts/Triest.ttf') format('truetype');
}

:root {
  --main-color: #FFFFFF;
  --accent-color: #7C40FF;
  --tertiary-color: #DF0045;
  --heading-font: 'Hellraiser';
  --text-font: 'Triest';
  --text-shadow: 20px;
  --code-font: monospace;
}

html,body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--accent-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img.avatar {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 1px 2px var(--text-shadow) var(--main-color);
  border: 6px solid var(--main-color);
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

h1 {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 2px var(--text-shadow) var(--main-color);
  color: var(--tertiary-color);
  font-family: var(--heading-font);
}

p.subtitle {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 2px var(--text-shadow) var(--main-color);
  color: var(--tertiary-color);
  font-family: var(--text-font);
}

div.content {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 0px;
  width: 90%;
  border: 3px solid var(--main-color);
  box-shadow: 1px 2px var(--text-shadow) var(--main-color);
  background-color: var(--accent-color);
}

h2 {
  margin: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-right: 0px;
  font-size: 35px;
  text-align: left;
  text-shadow: none;
  color: var(--main-color);
  font-family: var(--text-font);
}

p {
  margin: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-right: 20px;
  font-size: 27px;
  text-align: left;
  text-shadow: none;
  color: var(--main-color);
  font-family: var(--text-font);
}

a {
  font-size: 27px;
  padding: 0px;
  margin: 0px;
  transition-duration: 0.6s;
  text-shadow: 1px 2px var(--text-shadow) var(--main-color);
  color: var(--main-color);
  font-family: var(--text-font);
}

a:hover {
  color: var(--tertiary-color);
}

h3 {
  margin: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-right: 0px;
  font-size: 33px;
  text-align: left;
  text-shadow: none;
  color: var(--main-color);
  font-family: var(--text-font);
}

h4 {
  margin: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-right: 0px;
  font-size: 30px;
  text-align: left;
  text-shadow: none;
  color: var(--main-color);
  font-family: var(--text-font);
}

hr {
  background-color: var(--main-color);
  border: none;
  box-shadow: 1px 2px var(--text-shadow) var(--main-color);
  height: 3px;
  margin: 0;
  padding: 0;
}
code {
  margin: 0 auto;
  display: block;
  overflow: scroll;
  font-size: 24px;
  padding: 20px;
  background-color: var(--accent-color);
  color: var(--main-color);
  text-shadow: 1px 2px var(--text-shadow) var(--main-color);
  box-shadow: 1px 2px var(--text-shadow) var(--main-color);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--code-font);
  border: 3px solid var(--main-color);
  width: 85%;
  word-wrap:normal;
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
  p.subtitle {
    font-size: 38px;
  }
  h2 {
    font-size: 33px;
  }
  p {
    font-size: 25px;
  }

  a {
    font-size: 25px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 27px;
  }
  code {
    font-size: 15px;
  }
}
